::-webkit-scrollbar { 
  display: none; 
}
/* @media only screen and (max-width: 690px) {
  .map-container {
    display: none;
  }
  .lists {
    width: 90%;
  }
} */


.search-input {
  width: 40%;
  margin: 10px auto;
}

.ui.segment {
  height: 250px;
  background-color: #899696;
}
.logo {
  color: white;
}
h1 {
  color: #479da0;
}
.location {
  color: #479da0;
}
.lists {
  margin: 30px auto;
  width: 90%;
  left: 6%;
  background-color: white;
  position: absolute;
  height: 75%;
  overflow-y: auto;
  box-shadow: 5px 5px 10px  #aaaaaa;
}
.list {
  margin: inherit;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .search-input{
    width: 100%;
  }
  .lists {
    width: 90%;
    overflow-y: scroll;
  }
}
